Flask>=3.0.0
flask_migrate
flask-restful
flask-paginate
SQLAlchemy
psycopg2-binary
requests
jsonify
pydantic
sqlalchemy
flask_sqlalchemy
flask-swagger-ui
mysqlclient
python-dotenv
apifairy==0.9.0
passlib
PyJWT
pymysql
alembic
python-dotenv
marshmallow-sqlalchemy
flask_restx
Authlib
flask-bcrypt
flask_jwt_extended
pytest
pytest-cov
pytest-xdist
flask_httpauth
